@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.woff2") format("woff2"), 
      url("../fonts/Raleway-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.woff2") format("woff2"), 
      url("../fonts/Raleway-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("../fonts/Raleway-Medium.woff2") format("woff2"), 
      url("../fonts/Raleway-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Black";
    src: url("../fonts/Raleway-Black.woff2") format("woff2"), 
      url("../fonts/Raleway-Black.woff") format("woff");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Thin";
    src: url("../fonts/Raleway-Thin.woff2") format("woff2"), 
      url("../fonts/Raleway-Thin.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}

body {
    margin: 0;
}

button {
    border: none;
    padding: 0;
    background: inherit;
    font: initial;
    outline: none;
    cursor: pointer;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    border: none;
}

::placeholder {
    color: black;
    opacity: 1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.cookies {
    width: 100%;
    background: black;
    position: fixed;
    z-index: 99;
    overflow: scroll;
    bottom: 0;
}

.cookies__wrapper {
    padding: 1rem 3rem;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: "Raleway-Regular";
}

@media (min-width: 37.5rem) {
    .cookies__wrapper {
        justify-content: space-around;
    }
}

.cookies__text--small {
    width: 100%;
}

@media (min-width: 37.5rem) {
    .cookies__text--small {
        display: none;
    }
}

.cookies__title {
    width: 100%;
}

@media (min-width: 37.5rem) {
    .cookies__title {
        padding: 0 2rem;
    }
}

@media (min-width: 60rem) {
    .cookies__title {
        padding: 0 3.5rem;
    }
}

.cookies__text--large {
    display: none;
}

@media (min-width: 37.5rem) {
    .cookies__text--large {
        display: flex;
        align-items: center;
    }

    .cookies__text--large > * {
        padding: 0 2rem;
    }

    .cookies__text--left {
        border-right: solid white;
        width: 50%;
    }

    .cookies__text--right {
        width: 50%;
    }
}

@media (min-width: 60rem) {

    .cookies__text--large {
        width: 70%;
    }
}

.clickables {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

@media (min-width: 37.5rem) {

    .clickables > * {
    padding: 0 2rem;
    }
}    

@media (min-width: 60rem) {
    .clickables {
        align-content: space-between;
        justify-content: flex-end;
        width: 20%;
        float: right;
        margin: 5rem 0;
    }
}

.cookies__allow {
    color: white;
    padding: 0.5rem;
    border: solid white;
    transition: all 0.2s ease;
    font-family: "Raleway-Regular";
}

.cookies__allow:hover {
    background: white;
    color: black;
}

.cookies__link {
    text-decoration: underline;
    transition: all 0.2s ease;
}

.cookies__link:hover {
    text-decoration: none;
}

@media (min-width: 60rem) {
    .cookies__link {
        width: 100%;
        padding: initial;
        text-align: right;
    }
}

/* -------------CHECK DIT!!!---------- */

.nav__banner {
    background-size: cover;
    background-position: 30% 50%;
    height: 75vh;
}

@media (min-width: 80rem) {
    .nav__banner {
        background-position: 50% 50%;
    }
}

@media (min-width: 80rem) {
    .index__banner {
        height: 90vh;
    }
}

.nav--top {
    height: 75vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other__nav--top {
    max-width: 120rem;
    position: relative;
}

@media (min-width: 80rem) {
    .index__nav--top {
        height: 90vh;
    }
}

.logo {
    margin: 1.5rem;
    margin-right: 0rem;
    margin-top: 2.5rem;
    width: 8rem;
}

@media (min-width: 25rem) {
    .logo {
        width: 11.8rem; 
    }
}

@media (min-width: 54rem) {
    .logo {
        width: 18rem; 
    }
}

.logo__image {
    width: 100%;
}

.menu {
    width: 2rem;
    margin: 2rem;
    margin-left: 0rem;
    margin-top: 3rem;
}

@media (min-width: 80rem) {
    .menu {
        display: none;
    }
}

.menu__image {
    width: 100%;
}

.menu--hidden {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    font-family: "Raleway-Bold";
    font-size: 1.5rem;
    color: white;
    background: rgba(5, 5, 5, 0.904);
    z-index: 4;
}

.close__wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 3rem;
}

.menu--hidden__close {
    position: absolute;
    top: 3rem;
    right: 2.3rem;
    width: 1.5rem;
    transition: all 0.2s ease;
}

.menu--hidden__close:hover{
    transform: rotate(360deg);
}

.menu--hidden__close__image {
    width: 100%;
}

.menu--hidden__list {
    margin: 10vw;
}

.menu--hidden__listitem {
    margin: 2rem auto;
}

.menu--hidden__link__icon {
    display: flex;
    align-items: center;
    height: 2rem;
}

.nav__menu__icon__wrapper{
    width: 1.5rem;
}

.nav__menu__icon__button {
    margin-left: 1rem;
}

.nav__menu__icon {
    width: 100%;
    display: block;
}

.menu--hidden__dates {
    display: none;
    font-family: "Raleway-Medium";
    font-size: 1.2rem;
    border-left: solid;
}

.menu--hidden__dates__list {
    margin: 0.5rem 1rem;
}

.menu--hidden__dates__listitem {
    padding: 1rem;
}

.nav__menu__text {
    transition: all 0.2s ease;
}

.nav__menu__text:hover {
    text-decoration: underline;
}

.nav__menu__text__icon {
    margin-left: 1rem;
}

.nav--bottom {
    /* max-width: 100rem; */
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 80rem) {
    .index__nav--bottom {
        display: none;
    }
}

.nav--bottom__logos {
    background: white;
    width: 100%;
    margin: 1.5rem;
}

.hashtag {
    margin-bottom: 0.5rem;
}

.hashtag__image {
    width: 45%;
    max-width: 7rem;
}

.nav__discover__image {
    width: 95%;
    max-width: 16rem;
}

.nav__dates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: black;
}

.nav__date {
    width: 20vw;
    height: 20vw;
    font-family: "Raleway-Bold";
    background: black;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 0rem;
    align-items: center;
    transition: all 0.2s ease;
}

.nav__date:hover {
    background: white;
    color: black;
}

@media (min-width: 36rem) {
    .nav__date {
        font-size: 1.5rem;
    }
}

@media (min-width: 48rem) {
    .nav__date {
        width: 10vw;
        height: 10vw;
    }
}

@media(min-width: 80rem) {
    .other__nav__date {
        height: 6rem;
    }
}

.nav__date__text {
    margin: 0;
}

.nav__date__span {
    font-family: "Raleway-Medium";
    font-size: 0.75rem;
}

@media (min-width: 36rem) {
    .nav__date__span {
        font-size: 1rem;
    }
}

.nav--side {
    position: absolute;
    top: 1rem;
    right: 0;
    display: none;
    flex-wrap: wrap;
    width: 38rem;
}

@media (min-width: 80rem) {
    .nav--side {
        display: flex;
    }
}

.nav--side--top {
    display: flex;
    width: 35rem;
    margin: auto;
    justify-content: space-between;
}

.nav__form__search {
    width: 24.5rem;
    display: flex;
    justify-content: space-between;
}

input[type="search"]
{
    width: 20rem;
    font-family: "Raleway-Regular";
    font-size: 1rem;
    padding: 0 0.5rem;
    border: none;
    outline: none;
}

.search__icon__button {
    background: black;
    width: 4.25rem;
    height: 2.8rem;
    margin: 0.1rem auto;
    transition: all 0.2s ease;
}

.search__icon__button:hover {
    background: white;
}

.search__icon {
    width: 1rem;
    transition: all 0.2s ease;
}

.search__icon__button:hover .search__icon {
    fill: black;
}

.nav__lang {
    width: 5rem;
    position: relative;
    display: flex;
    height: 3rem;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Raleway-Bold";
    font-size: 1.2rem;
    color: white;
}

.nav__lang__arrow {
    display: flex;
    align-items: center;
    font-family: "Raleway-Bold";
    font-size: 1.2rem;
    color: white;
}

.nav__lang__arrow__container {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.75rem;
}

.nav__lang__arrow__image {
    display: block;
    width: 100%;
}

.nav__lang__list--hidden {
    width: 5rem;
    line-height: 3rem;
    display: none;
    position: absolute;
    background: black;
    z-index: 2;
    top: 3rem;
}

.nav__lang__listitem {
    padding: 0.2rem 1rem;
    transition: all 0.2s ease;
}

.nav__lang__listitem:hover {
    background: white;
    color: black;
}

.nav--side--upper {
    margin: 1rem 2rem;
    width: 100%;
    font-family: "Raleway-Bold";
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.nav--large__menu {
    padding: 0.5rem;
    width: 27rem;
    display: flex;
    justify-content: space-between;
}

.nav--large__menu__listitem {
    position: relative;
}

.nav--large__listitem__border {
    margin: 0.5rem auto;
    width: 1.5rem;
    color: white;
    border-bottom: solid;
}

.nav--large__listitem__selected {
    display: none;
    transition: all 0.2s ease;
}

.nav--large__menu__listitem:hover > .nav--large__listitem__selected {
    display: block;
}

.nav--side--lower {
    /* border: solid red; */
    /* height: 17rem; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-end; */
}

.other--nav--side--lower {
    border: none; /*DELETE THIS*/
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    justify-content: flex-end;
}

@media(min-width: 75rem) {
    .other--nav--side--lower {
        bottom: 5rem;
    }
}

.nav--large__hashtag {
    width: 7.5rem;
    height: 3rem;
}

.other__nav--large__hashtag {
    margin-right: 1rem;
    float: right;
    width: 3rem;
    height: 1rem;
}

@media(min-width: 24rem) {
    .other__nav--large__hashtag {
        margin-right: 3rem;
        width: 6rem;
        height: initial;
    }
}

@media(min-width: 75rem) {
    .other__nav--large__hashtag{
        width: 10rem;
    }
}

.index__nav--large__hashtag {
    margin: 3rem 0;
    transform: rotate(-90deg)
}

.nav__large__logo__wrapper {
    /* border: green; */
    width: 100%;
}

.nav--large__discover {
    width: 28rem;
    height: 7rem;
}

.other__nav--side--disover {
    margin-right: 1rem;
    border: blue;
    width: 8rem;
    height: 2rem;
}

@media(min-width: 24rem) {
    .other__nav--side--disover {
        margin-right: 3rem;
        width: 15rem;
        height: initial;
    }
}

@media(min-width: 75rem) {
    .other__nav--side--disover {
        width: 28rem;
        height: 7rem;
    }
}

.nav--side--bottom {
    margin: 0.5rem 0;
    width: 100%;
}

.nav--side__dates {
    background: white;
    text-align: center;
}

.nav__date__link {
    width: 20%;
    height: 6rem;
    display: flex;
    justify-content: center;
    font-family: "Raleway-Bold";
    font-size: 1.5rem;
    align-items: center;
    transition: all 0.2s ease;
}

.nav__date__link:hover {
    background: black;
    color: white;
}

.footer {
    background-image: url("../media/banner--footer.jpg");
    background-size: cover;
    height: 27.5rem;
    background-position: 70% 50%;
}

@media (min-width: 80rem) {
    .footer {
        height: 35rem;
    }
}

.footer__banner {
    max-width: 70rem;
    margin: auto;
}

@media (min-width: 80rem) {
    .footer__banner {
        height: 30rem;
    }
}

.footer__content {
    margin: 0rem 1.5rem;
    height: 25.5rem;
    width: 85vw;
    max-width: 16rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

@media (min-width: 48rem) {
    .footer__content {
        max-width: 20rem;
    }
}

@media (min-width: 80rem) {
    .footer__content {
        height: 30rem;
    }
}

.footer--top {
    width: 100%;
    height: 45vw;
    max-height: 9rem;
}

@media (min-width: 48rem) {
    .footer--top {
        max-height: 12rem;
    }
}

.footer--top__link {
    background: white;
    transition: all 0.2s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.footer--top__link:hover {
    background-color: rgba(0, 0, 0, 0.301)
}

.footer__logos__wrapper {
    width: 10rem;
    height: 4rem;
}

.footer--top__link:hover .footer__logos {
    fill: white;
}

@media (min-width: 48rem) {
    .footer__logos__wrapper {
        width: 15rem;
        height: 7rem;
    }
}

.footer__logos {
    width: 10rem;
    transition: all 0.2s ease;
}

@media (min-width: 48rem) {
    .footer__logos {
        width: 15rem;
    }
}

.footer--bottom__text {
    width: 100%;
    font-family: "Raleway-Bold";
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2.5rem;
}

@media (min-width: 48rem) {
    .footer__text {
        font-size: 1.5rem;
    }
}

@media (min-width: 80rem) {
    .footer__text {
        margin-bottom: 5rem;
    }
}

.soc__icons {
    display: flex;
    flex-wrap: wrap;
    width: 12rem;
    justify-content: space-between;
}

.soc__icon__wrapper {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.soc__icon__wrapper:hover {
    background: black;
}

.soc__icon {
    display: block;
    margin: auto;
    transition: all 0.2s ease;
}

.soc__icon__wrapper:hover .soc__icon {
    fill: white;
}

/* ----------------CARROUSSEL--------------- */

.section--top {
    margin: 3rem 1.5rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;  
}

@media (min-width: 48rem) {
    .section--top {
        margin: 3rem 2rem;
    }
}

.article__link{
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
    .top__article__link{
        width: 49%;
    }
}

@media (min-width: 80rem) {
    .top__article__link{
        width: 32%;
        margin-bottom: 3rem;
    }
}

.top__article {
    width: 100%;
    height: 100%;
}

.article__figure {
    display: block;
    position: relative;
    margin: 0;
}

.article__figure:hover .article__image {
    width: 105%;
    height: 105%;
}

.article__container {
    width: 100%;
    height: 50vw;
    overflow: hidden;
}

@media (min-width: 48rem) {
    .top__article__container {
        height: 30vw;
    }
}

@media (min-width: 80rem) {
    .top__article__container {
        height: 18vw;
    }
}

.article__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.top__article__figcaption {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding: 0.5rem 1rem;
    bottom: -1rem;
    left: 2rem;
    background: black;
    color: white;
    font-family: "Raleway-Bold";
    font-size: 1.5rem;
}

.top__article__figcap__span {
    font-family: "Raleway-Medium";
}

.article__titles {
    margin: 3rem 2rem;
    margin-right: 0;
    margin-bottom: 0;
}

.top__article__title {
    font-family: "Raleway-Black";
    font-size: 1.35rem;
    margin: 0;
    line-height: 2rem;
}

@media(min-width: 80rem) {
    .top__article__title {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

.top__article__subtitle {
    font-family: "Raleway-Regular";
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1rem;
}

@media(min-width: 80rem) {
    .top__article__subtitle {
        font-size: 1.2rem;
        margin-top: 0.6rem;
    }
}


/* -------------------NEWS--------------------- */

.news__articles {
    width: 90%;
    max-width: 80rem;
    margin: 2rem auto;
}

@media(min-width: 48rem) {
    .news__articles {
       width: 80%;
    }
}

.news__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.news__article__figure {
    width: 100%;
}

@media (min-width: 60rem) {
    .news__article__figure {
        width: 45%;
    }
}

.news__article__container {
    height: 50vw;
}

@media (min-width: 60rem) {
    .news__article__container {
        height: 20rem;
    }
}    

.news__figcaption {
    position: absolute;
    background: white;
    font-family: "Raleway-Medium";
    font-weight: bold;
    width: 4rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    bottom: -0.1rem;;
    left: -0.1rem;
}


@media (min-width: 60rem) {
    .news__figcaption {
        font-size: 1.5rem;
        width: 6.5rem;
        transform: rotate(-90deg);
        left: -2.4rem;
        top: 8.5rem;
        bottom: initial;
        padding: 1rem;
    }
}

.news__titles {
    width: 100%;
    font-family: "Raleway-Black";
}

@media (min-width: 60rem) {
    .news__titles {
        width: 49%;
    }
} 

.news__title {
    margin: 1.5rem 0;
    font-size: 1.8rem;
    width: 100%;
    transition: all 0.5s ease;
}

@media (min-width: 80rem) {
    .news__title {
        font-size: 2.3rem;
        margin: 0;
    }
}

.news__subtitle {
    font-family: "Raleway-Medium";
    font-size: 0.95rem;
    font-weight: normal;
    margin: 1.5rem 0;
}

.news__arrow__wrapper {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0;
}

.news__arrow {
    width: 100%;
    transition: all 1s ease;
}

.news__article__link:hover .news__arrow {
    transform: translateX(85vw);
}

@media (min-width: 48rem) {
    .news__article__link:hover .news__arrow {
        transform: translateX(78vw);
    }
}

@media (min-width: 60rem) {
    .news__article__link:hover .news__arrow {
        transform: translateX(37vw);
    }
}

@media (min-width: 80rem) {
    .news__article__link:hover .news__arrow {
        transform: translateX(35rem);
    }
}

.news__article__link:hover .news__article__image{
    height: 105%;
    width: 105%;
}

.news__article__link:hover .news__title{
    text-decoration: underline;
}

.news__link__wrapper {
    margin: auto;
    width: 90%;
}

@media(min-width: 48rem) {
    .news__link__wrapper {
        width: 80%;
    }
}

.news__link {
    text-align: center;
    width: 100%;
    max-width: 25rem;
    padding: 1.5rem 0; 
    display: block;
    margin-bottom: 5rem;
    font-family: "Raleway-Medium";
    font-weight: bold;
    border: solid black;
    font-size: 1.2rem;
    line-height: 2rem;
    transition: all 0.4s ease;
}

.news__link:hover {
    background: black;
    color: white;
}

.carrousel {
    width: 100vw;
    margin-bottom: 3rem;
}

.carrousel__figure {
    position: relative;
    width: 100%;
    margin: 0;
    height: 45vw;
    overflow-x: hidden;
}

.carrousel__images__container {
    display: flex;
    width: 100%;
    height: 100%;
    transform: translate(-100vw);
}


.carrousel__image {
    flex-shrink: 0;
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.carrousel__figcaption {
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 8rem;
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: "Raleway-Bold";
    font-size: 2rem;
    background: white;
    padding: 0.5rem 1rem;
}

@media (min-width: 48rem) {
    .carrousel__figcaption {
        width: 12rem;
        align-items: center;
        justify-content: space-evenly;
    }
}

.carrousel__nav {
    width: 3.5rem;
    height: 2.2rem;
    display: none;
}

@media (min-width: 48rem) {
    .carrousel__nav {
        display: block;
        margin: 0 1rem;
    }
}

.carrousel__nav__button {
    width: 1.5rem;
}

.carrousel__nav__button:active {
    border: none;
}

.carrousel__nav__left {
    display: inline-block;
    width: 100%;
    transform: rotate(180deg);
}

.carrousel__nav__right {
    display: inline-block;
    width: 100%;
}

.carrousel__text {
    width: 50%;
    height: 2rem; 
}

.newsletter {
    margin: 3rem 1.5rem;
    font-family: "Raleway-Medium";
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.8rem;
    max-width: 52.5rem;
}

@media (min-width: 55rem) {
    .newsletter {
        margin: 5rem auto;
    }
}

.newsletter__title {
    font-family: "Raleway-Black";
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.newsletter__span {
    text-decoration: underline;
}

.newsletter__form {
    margin-top: 2rem; 
}

@media(min-width: 36rem) {
    .newsletter__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.newsletter__email__label{
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    font-family: "Raleway-Regular";
    font-weight: 300;
    font-size: 1rem;
}

.newsletter__email__input {
    padding: 1rem;
    background: #e9e9e9;
    border: none;
    outline: none;
    width: 90%;
    margin: 0;
    font-family: "Raleway-Regular";
    font-size: 1.2rem;
}

@media(min-width: 52rem) {
    .newsletter__email__input {
        width: 73%;
    }
}

.newsletter__email__button {
    margin: 1.5rem 0;
    font-family: "Raleway-Medium";
    text-align: center;
    color: white;
    background: black;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    transition: all 0.2s ease;
    border: solid black;
}

@media(min-width: 55rem) {
    .newsletter__email__button {
        margin: 0;
    }
}

.newsletter__email__button:hover {
    color: black;
    background: white;
}

/* ------------TWITTER--------- */

.bottom__twitter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 2rem auto;
    width: 90%;
    height: 100%;
}

@media(min-width: 30rem) {
    .bottom__twitter{
        width: 80%;
    }
}

@media(min-width: 48rem) {
    .bottom__twitter{
        width: 100%;
        margin: 0;
        margin-top: 4rem;
    }
}

.bottom__twitter__figure {
    width: 100%;
    margin: 0;
}

@media(min-width: 48rem) {
    .bottom__twitter__figure{
        width: 50%;
        height: 30vw;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.bottom__twitter__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom__twitter__text__container {
    width: 100%;
    min-height: 30vw;
}

@media(min-width: 48rem) {
    .bottom__twitter__text__container {
        width: 45%;
        margin-right: 1.2rem;
    }
}

.bottom__twitter__header {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media(min-width: 30rem) {
    .bottom__twitter__header{
        width: 19rem;
    }
}

@media(min-width: 70rem) {
    .bottom__twitter__header{
        width: 24rem;
    }
}

.bottom__twitter__experience {
    width: 8rem;
}

@media(min-width: 30rem) {
    .bottom__twitter__experience{
        width: 10rem;
    }
}

@media(min-width: 70rem) {
    .bottom__twitter__experience{
        width: 15rem;
    }
}

.bottom__twitter__icon {
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.4rem;
}

@media(min-width: 30rem) {
    .bottom__twitter__icon{
        width: 2rem;
    }
}

.bottom__twitter__text {
    font-family: "Raleway-Medium";
    font-size: 1.2rem;
    font-weight: bold;
}

@media(min-width: 30rem) {
    .bottom__twitter__text{
        font-size: 1.5rem;
    }
}

.bottom__twitter__subhead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Raleway-Medium";
    font-weight: bold;
}

@media(min-width: 70rem) {
    .bottom__twitter__subhead{
        font-size: 2rem;
    }
}

.bottom__twitter__nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.1rem;
}

@media(min-width: 70rem) {
    .bottom__twitter__nav__wrapper {
        width: 6rem;
    }
}

.twitter__nav__button {
    border-radius: 60%;
    width: 0.7rem;
    height: 0.7rem;
    background: #e9e9e9;
}

@media(min-width: 70rem) {
    .twitter__nav__button {
        width: 1rem;
        height: 1rem;
    }
}

.twitter__nav__button__one {
    background: black;
}

.bottom__twitter__tweet {
    font-family: "Raleway-Thin";
    font-weight: bold;
}

.bottom__tweeter {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom__tweetinfo {
    font-family: "Raleway-Medium";
    font-weight: bold;
}


/* ------------TWITTER--------- */

.bottom__multimedia {
    display: flex;
    flex-wrap: wrap;
}

.bottom__multimedia__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media (min-width: 48rem) {
    .bottom__multimedia__container {
        width: 50%;
    }
}

.bottom__multimedia__link {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.bottom__multimedia__videos {
    background: black;
    color: white;
    transition: all 0.2s ease;
}

.bottom__multimedia__wrapper {
    padding: 1rem 0;
    margin: auto;
    width: 15rem;
}

@media(min-width: 30rem) {
    .bottom__multimedia__wrapper {
        margin: 0 4rem;
    }
}

.bottom__multimedia__figure__videos {
    margin: 0;
    width: 90%;
}

.bottom__multimedia__logo__videos {
    width: 100%;
    height: 4rem;
}

@media (min-width: 80rem) {
    .bottom__multimedia__logo__videos {
        width: 160%;
        height: 160%;
        margin: 0.5rem 0;
    }
}

.bottom__multimedia__continue {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom__multimedia__subheader {
    font-family: "Raleway-Medium";
    font-size: 1rem;
    width: 60%;
    margin: 0;
}

@media(min-width: 80rem) {
    .bottom__multimedia__subheader{
        width: 70%;
        font-size: 1.2rem;
    }
}

.bottom__multimedia__arrow__figure {
    margin: 0;
    width: 1rem;
    height: 1rem;
}

.bottom__multimedia__arrow {
    display: block;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease;
}

.bottom__multimedia__videos:hover .bottom__multimedia__arrow__videos {
    transform: translateX(1rem)
}

@media(min-width: 30rem) {
    .bottom__multimedia__videos:hover .bottom__multimedia__arrow__videos {
        transform: translateX(3rem)
    }
}

.bottom__multimedia__photos {
    background: white;
    color: black;
    transition: all 0.2s ease;
}

.bottom__multimedia__wrapper__photos {
    padding: 1.5rem 0;
}

.bottom__multimedia__figure__photos {
    margin: 0;
    width: 100%;
}

.bottom__multimedia__logo__photos {
    width: 100%;
}

@media (min-width: 80rem) {
    .bottom__multimedia__logo__photos {
        width: 160%;
        height: 160%;
        margin: 1rem 0;
    }
}

.bottom__multimedia__photos:hover .bottom__multimedia__arrow__photos {
    transform: translateX(1rem)
}

@media(min-width: 30rem) {
    .bottom__multimedia__photos:hover .bottom__multimedia__arrow__photos {
        transform: translateX(3rem)
    }
}

.bottom__figure {
    margin: 0;
}

@media (min-width: 48rem) {
    .bottom__figure {
        width: 50%;
    }
}

.bottom__multimedia__image {
    width: 100%;
    margin: 0;
}
