.body {
 background: pink;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.box_one {
    width: 20rem;
    width: 50%;
    height: 40rem;
    background: burlywood;
}

.box_two {
    width: 50%;
    height: 20rem;
    background: cadetblue
}

.box_three {
    width: 50%;
    height: 10rem;
    background: chartreuse;
}